<section class="side-nav">
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" class="mat-elevation-z6">
      <mat-nav-list>
        <mat-list-item>
          <a routerLink='test'>Test</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <mat-toolbar color="primary" class="mat-elevation-z10">
        <button mat-button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="mat-24">menu</mat-icon>
        </button>
      </mat-toolbar>

      <section class="section-content">
        <router-outlet></router-outlet>
       </section>
       </mat-sidenav-content>
       </mat-sidenav-container>
 </section>